extends ./layout.jade
block contenido 
    div(class="container col-md-6 remove-float center-block text-center big-top-space")
        h1 Administración fotográfica
        br
        a(href="/login" class="btn btn-primary right-space") Iniciar sesión
        a(href="/signup" class="btn btn-primary right-space") Registrarse 