extends ./layout.jade
block contenido 
    form(action="/users", method="post") 
        div(class="form-group")
            label(for="email") Email
            input(type="text", name="email", placeholder="Email", id="email", class="form-control", required)
        div(class="form-group")
            label(for="password") Password 
            input(type="password", name="password", placeholder="Password", id="password", class="form-control", required)
        div(class="form-group")
            input(type="submit", value="Acceder", class="btn btn-info")