extends ./layout.jade
block contenido 
    form(action="/users", method="post") 
        div(class="form-group")
            label(for="email") Email
            input(type="email", name="email", placeholder="Email", id="email", class="form-control", required)
        div(class="form-group")
            label(for="password") Contrase침a 
            input(type="password", name="password", placeholder="Password", id="password", class="form-control", required)
        div(class="form-group")
            label(for="password_confirmation") Confirmar contrase침a 
            input(type="password", name="password_confirmation", placeholder="Confirmaci칩n de contrase침a", id="password_confirmation", class="form-control", required)
        div(class="form-group")
            input(type="submit", value="Acceder", class="btn btn-info")