doctype html 
html(lang="es")
    head 
        title Photos
        meta(charset="utf-8")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js")
        link(rel="stylesheet", href="/public/css/app.css")
    body 
        nav(class="large-padding black white-text")
            ul 
             li 
                a(href="/app") Inicio 
             li 
                a(href="/app/imagenes")  Mis imágenes
        block contenido 