extends ./layout.jade
block contenido 
    div(class="container col-md-6 remove-float center-block big-top-space")
        h1 Registro 
        br
        form(action="/users", method="post") 
            div(class="form-group")
                label(for="email") Email
                input(type="email", name="email", placeholder="Email", id="email", class="form-control", required)
            div(class="form-group")
                label(for="password") Contrase침a 
                input(type="password", name="password", placeholder="Password", id="password", class="form-control", required)
            div(class="form-group")
                label(for="password_confirmation") Confirmar contrase침a 
                input(type="password", name="password_confirmation", placeholder="Confirmaci칩n de contrase침a", id="password_confirmation", class="form-control", required)
            div(class="form-group")
                label(for="username") Username
                input(type="text", name="username", placeholder="Nombre de usuario", id="username", class="form-control", required)
            div(class="row top-space")
                div(class="col-xs-12 col-sm-6")
                    input(type="submit", value="Registrar", class="btn btn-info")
                div(class="col-xs-12 col-sm-6 text-right")
                 a(href="/login" class="") Ya tengo una cuenta